<!doctype html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-commerce</title>
</head>
<body>
    <h1>Cadastro de Usuários</h1>
    <form method="post">
        Nome: <input type="text" value="" name="nome" />
        Sobrenome: <input type="text" value="" name="sobrenome" />
        CPF: <input type="text" value="" name="cpf" />
        Telefone: <input type="text" value="" name="telefone" />
        Data de nascimento: <input type="date" value="" name="dataNascimento" />
        Sexo: <input type="text" value="" name="sexo" />
        <!--Endereço: <input type="text" value="" name="endereco" /> -->
        E-mail: <input type="text" value="" name="email" />
        Senha: <input type="text" value="" name="senha" />

        <button type="submit">Salvar</button>
    </form>
</body>
</html>
